<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Angular V19</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="user" routerLinkActive="active">User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/data-binding" routerLinkActive="active">Data-binding</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/structural-directives'" routerLinkActive="active">Structural-directives</a>
      </li>
      <li class="nav-item">
        <!-- /attribute-directives/a/b -->
        <a class="nav-link" [routerLink]="['/attribute-directives', 'a', 'b']"
          routerLinkActive="active">Attribute-directives</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pipeline" routerLinkActive="active">Pipeline</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/tdf" routerLinkActive="active">TDF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/rf" routerLinkActive="active">RF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/di" routerLinkActive="active">DI</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/crud" routerLinkActive="active">CRUD Operations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/resource" routerLinkActive="active">Resource API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/parentChildComm" routerLinkActive="active">Parent-Child Communication</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/storage" routerLinkActive="active">Storage</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/view-encapsulation" routerLinkActive="active">View Encapsulation</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet />