<app-reuseable [message]="message" class="text-center"></app-reuseable>
<div class="container d-flex justify-content-center mt-5" style="height: 100%;">
  <div class="w-50 p-5 border border-secondary text-center">
    <h2>Weclome to Login</h2>

    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" placeholder="Enter username">
    <br>
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" placeholder="Enter password">

    <br>
    <button type="submit" class="btn btn-primary" (click)="login()">Login</button>

  </div>

</div>